.headphones__item {
    width: 350px;
    height: 407px;

    margin-bottom: 3rem;
    padding: 1.5rem 2rem 2.7rem;

    background-color: #fff;
    border-radius: 3rem;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);

    font-family: "MontserratSemiBold";
    font-size: 1.7rem;

    transition: transform 0.3s ease;
}

.headphones__item:hover {
    transform: scale(1.1);
}
.headphones__column {
    position: relative;
}

.headphones__about {
    display: flex;
    justify-content: space-between;
}
.headphones__name {
    margin-bottom: 25px;

    color: #1c1c27;
}

.headphones__image {
    width: 220px;
    height: 237px;

    margin: 0  auto 5.4rem;
    text-align: center;

}

.rating {
    display: flex;
    align-items: center;
}

.rating__text {
    margin-left: 1rem;
    color: #838383;
}

.price {
    margin-bottom: 3.2rem;

    color: #ffa542;
}

.oldprice {
    color: #ffce7f;

    font-size: 1.3rem;
    text-decoration: line-through;

    position: absolute;
    top: 2rem;
    left: 0.5em;

    z-index: 1;
}

.btn__buy {
    padding: 0;

    background-color: transparent;
    border: 0;

    font-size: 1.7rem;
    font-family: "MontserratSemiBold";
    color: #000;
}

.btn__buy:hover {
    color: #ffa542;
}


.headphones__image--inner {
    width: 100%;
    height: 100%;
}