.container--footer {
    /* min-height: 40vh;
    position: relative; */
    max-width: 1110px;
    margin: 0 auto;
}
.footer {
    display: flex;
    justify-content: space-between;

    width: 1110px;
    height: 150px;

    margin-top: auto;
    padding: 29px;

    background-color: #fff;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);

    font-family: 'MontserratRegular';
    font-size: 17px;
    position: absolute;
    bottom: 0;


}

.footer__socials {
    display: flex;
    align-items: center;

}

.footer__link {
    display: block;
    margin-bottom: 10px;

    color: #000;
    text-decoration: none;

    transition: transform 0.3s ease;

}


.footer__link--conditions {
    margin-bottom: 36px;
}

.footer__link:hover {
    color: #ffa542;
    transform: scale(1.1);
}
.languages {
    display: flex;
    align-items: center;

    font-family: "MontserratMedium";
}

.language {
    display: inline-block;

    margin-right: 17px;
}

.language--active {

    font-family: "MontserratBold";
    color: #ffa542;
}

.social {
    margin-right: 18px;

    transition: transform 0.1s ease;
}

.social:hover {
    transform: scale(1.1);
}
.social:last-child {
    margin: 0;
}