* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eaeaea;
}

main {
    padding: 0 17px;
}

.navbar {
    display: flex;
    align-items: center;

    width: 100vw;
    height: 58px;

    padding: 0 15px;

    background: lightblue ;
}

.navbar__links {
    margin-left: auto;
}