/* transition: width 0.3s ease, height 0.3s ease; */

.cart__title {
    margin-bottom: 1.3rem;

    font-size: 2rem;
    font-family: "MontserratSemiBold";
}

.cart__content {
    display: flex;
    justify-content: space-between;

    font-family: "MontserratSemiBold";
}



.formalization {
    width: 349px;
    height: 114px;

    background-color: #fff;
    border-radius: 3rem;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);

    position: relative;
}

.cart__result {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1.6rem;
    padding: 2.1rem 1.6rem 0 2.1rem;

    font-size: 2rem;

}
.cart__btn {
    width: 100%;
    height: 65px;
    background-color: #101010;

    border: 0;
    border-radius: 2rem;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.25);

    font-size: 17px;
    text-align: center;
    font-family: "MontserratSemiBold";
    color: #fff;
    transition: color 0.2s linear, background-color 0.2s linear;
}

.cart__btn:hover {
    background-color:#ffa542;
    color: #101010;
    cursor: pointer;
}