.product {
    display: flex;
    justify-content: space-between;

    width: 633px;
    height: 218px;

    margin-bottom: 2rem;
    padding: 1.8rem 2.8rem 2.1rem 1.9rem;

    background-color: #fff;
    border-radius: 3rem;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
}
.product__column--first {
    display: flex;
    align-items: center;
}
.product__column--second {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.product__info {
    margin-right: 2.4rem;
}

.product__name {
    margin-bottom: 1.2rem;
    font-family: "MontserratMedium";
}
.product__price {
    color: #aaa;
}

.product__image {
    width: 146px;
    height: 136px;

    margin-bottom: 1.9rem;
}
.product__delete {
    text-align: right;
}

.quantity {
    display: flex;
    align-items: center;

    margin-left: 1.4rem;
}

.quantity__number {
    margin: 0 2.5rem;
}

.btn__decrement,
.btn__increment,
.btn__delete {
    border: 0;
    background: none;
    cursor: pointer;
}